extends layout

block content
  h1 Edit Profile

  form(action='/profile', method='POST')
    .form-group 
        label(for='name') Name:
        input(type='text', id='name', name='name', value=user.name, required=true)

    .form-group
        label(for='email') Email:
        input(type='email', id='email', name='email', value=user.email, required=true)

    .form-group
        label(for='bio') Bio:
        textarea(id='bio', name='bio', rows='4', cols='50')= user.bio

    .form-group
        label(for='profileImage') Profile Image:
        input(type='file', id='profileImage', name='profileImage')

    .form-group
        button(type='submit') Save Changes
