extends layout

block styles
    link(rel="stylesheet", href="/stylesheets/profile.css")

block content
    include partials/nav.pug

    .profile-container
        .card
            .profile-header
                img.profile-img(src=user.profileImage, alt="Profile Image")
                
            .user-info
                h1 #{user.username}
                //- p.bio #{user.bio}
                //- button.btn FOLLOW ME

            .profile-actions 
                button.btn
                    i(class="fas fa-user-edit") 
                    | Editar perfil
                button.btn
                    i(class="fas fa-cog")
                    | Configuración
                button.btn
                    i(class="fas fa-sign-out-alt") 
                    | Cerrar sesión

        .user-details
            ul
                li
                    i(class="fas fa-image") 
                    | 0 publicaciones
                li
                    i(class="fas fa-user") 
                    | 0 seguidores
                li
                    i(class="fas fa-user-friends") 
                    | 0 seguidos
                    
        .user-actions 
            button.btn
                i(class="fas fa-user-plus") 
                | Seguir
                
        .tabs
            button.tab
            i.icon-globe
            | Publicaciones
            button.tab
            i.icon-image
            | Portafolio
            button.tab
            i.icon-user-tag
            | Etiquetado

        .tab-content
            .posts
                .post
                    p
                        #{userPosts}
                    .images 
                    //-     each image in posts.images
                    //-         img(src=posts.image, alt="Post Image")
                    //- p.caption #{posts.caption}
                    //- p.date #{posts.date}
                    //- button.btn
                    //-     i(class="fas fa-heart") 
                    //-         | Me gusta
                    //-         | #{posts.likes}
                    //- button.btn
                    //-         i(class="fas fa-comment") 
                    //-         | Comentar
                    //-         | #{posts.comments}
                    //- button.btn
                    //-     i(class="fas fa-share") 
                    //-         | Compartir
                    //-         | #{posts.shares}

