extends layout

block styles
    link(rel="stylesheet", href="/stylesheets/profile.css")

block content
    include partials/options.pug

    include partials/nav.pug
    .profile-container.main-container
        section.card
            .profile-header
                img.cover-img(src=user.coverImage, alt="")
                img.profile-img(src=user.profileImage, alt="Profile Image")
                
            .user-info
                h1 #{user.username}
            .user-actions
                if user._id !== session.id
                    if isFollowing
                        button.follow-btn.btn-rounded.tooltip(
                            type="button", 
                            id=`follow-btn-${user._id}`, 
                            data-following= isFollowing ? 'true' : 'false',  
                            onclick=`toggleFollow('${user._id}', '${session.id}')`
                        )
                            span.strong #{isFollowing ? 'Unfollow' : 'Follow'}
                    else
               
                button.btn-rounded.tooltip(type="button" onclick=`shareUser('${user._id}')`)
                    span.strong Share

            .profile-actions 
                a.btn.tooltip(href=`/profile/user/${user.id}/edit`)
                    i(class="fas fa-user-edit") 
                    span.tooltiptext Edit Profile
                a.btn.tooltip
                    i(class="fas fa-cog")
                        span.tooltiptext Settings
                form(action="/auth/logout", method="get")
                    button.btn.tooltip(type="submit")
                        i(class="fas fa-sign-out-alt")
                            span.tooltiptext Logout
                    
        section.user-desription 
            p.name Hello! My name is #{user.name} #{user.surname}
            p.gender #{user.gender}
            p.bio #{user.bio}

        

        section.user-details
            ul
                li
                    i(class="fas fa-image") 
                    | #{userPosts.length} posts
                li
                    i(class="fas fa-user") 
                    | #{user.followers.length} followers
                li
                    i(class="fas fa-user-friends") 
                    | #{user.following.length} following
                
        section.tabs
            button.tab(data-tab="posts")
                h2 Posts
            button.tab(data-tab="portfolio")
                h2 Portfolio
            button.tab(data-tab="tagged")
                h2 Tagged
        hr
        

        section#tab-content.tab-content
            include partials/posts.pug

    
   
             