extends layout

block content
  .post-view-container
    h2 Post by @#{post.author.username}

    .post
        .post-images
            if post.images && post.images.length > 0
                each image in post.images
                    img(src=`${image}`, alt='Post Image')
            else
                p No images in this post.

        .post-title 
            h1= post.title
        
        .post-content
            if post.content
                p= post.content
            else
                p No content provided.

        .post-date
            small Posted on #{post.createdAt.toDateString()}

    a.btn(href='/profile') ← Back to Profile
